.curP {
  cursor: pointer;
}
.dFlex {
  @include flexbox();
}
.m-l-auto {
  margin-left: auto;
}
.vhCenter {
  @include flex-align(vhCenter);
}
.vCenter {
  @include flex-align(vCenter);
}
.hCenter {
  @include flex-align(hCenter);
}
.vBottom {
  @include flex-align(vBottom);
}
.hRight {
  @include flex-align(hRight);
}
.vCenHRight {
  @include flex-align(vCenHRight);
}
.vhEnd {
  @include flex-align(vhEnd);
}
.vBtmHcntr {
  @include align-items(end);
  @include flexbox();
  @include justify-content(center);
}
.jc-center {
  @include justify-content(center);
}
.no-wrap {
  @include flex-wrap(nowrap);
}
.align-center {
  @include justify-content(center);
}
.grecaptcha-badge {
  display: none !important;
}
.center {
  @include justify-content(center);
  text-align: center;
  .btn {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
.cmn-space {
  padding-bottom: 30px;
  padding-top: 30px;
  @include min(768) {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  @include min(1200) {
    padding-bottom: 55px;
    padding-top: 55px;
  }
  @include min(1600) {
    padding-bottom: 70px;
    padding-top: 70px;
  }
}
.cmn-space-btm {
  padding-bottom: 30px;
  @include min(768) {
    padding-bottom: 40px;
  }
  @include min(1200) {
    padding-bottom: 55px;
  }
  @include min(1600) {
    padding-bottom: 70px;
  }
}
.cmn-space-top {
  padding-top: 30px;
  @include min(768) {
    padding-top: 40px;
  }
  @include min(1200) {
    padding-top: 55px;
  }
  @include min(1600) {
    padding-top: 70px;
  }
}
.clear {
  clear: both;
  display: block;
}
.bg-primary {
  background-color: var(--global--color-primary);
}
.primary-color {
  color: var(--global--color-primary);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    color: inherit !important;
  }
}
.secondary-color {
  color: var(--global--color-secondary);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    color: inherit !important;
  }
}
.light-green {
  color: var(--global--color-button-green);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    color: inherit !important;
  }
}
.text-grey {
  color: #555 !important;
}
.text-white {
  color: var(--global--color-white) !important;
  p,
  li,
  a,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    color: inherit;
  }
  a {
    color: inherit;
    text-decoration: underline !important;
    &:hover {
      color: var(--global--color-white);
      text-decoration: none !important;
    }
  }
}
.text-black {
  color: var(--global--color-black) !important;
  p,
  li,
  a,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote {
    color: inherit;
  }
  a {
    color: inherit;
    &:hover {
      color: var(--global--color-secondary);
      text-decoration: none !important;
    }
  }
}
.fw-700 {
  font-weight: $fw-700;
}
.fSize-20 {
  @include fontSize(16px);
  p,
  li {
    font-size: inherit;
  }
  @include min(768) {
    @include fontSize(18px);
  }
  @include min(1600) {
    @include fontSize(20px);
  }
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-t_-10 {
  display: block;
  margin-top: -10px !important;
  position: relative;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.no-border {
  border: 0 !important;
}
#content_wrapper {
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.mob-t-align-center {
  @include max(767) {
    text-align: center;
  }
}
.owl-carousel {
  .owl-item {
    img {
      max-width: 100%;
      width: auto;
    }
  }
  .owl-dots {
    @include flex-align(vhCenter);
    .owl-dot {
      height: 11px;
      padding: 0;
      position: relative;
      width: 11px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:before {
        background-color: var(--global--color-button-green);
        @include border-radius(50%);
        content: "";
        cursor: pointer;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &.active {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}
.tw-row {
  @include flexbox();
  margin-left: -15px;
  margin-right: -15px;
}
[class*="tw-col-"] {
  margin-bottom: 15px;
  margin-top: 15px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}
.mr-bt-0 {
  [class*="tw-col-"] {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@include min(768) {
  .ipad-clear {
    clear: both;
    display: block;
  }
}
.svg-with-roundbox {
  background-color: var(--global--color-button-green);
  @include border-radius(50%);
  @include box-shadow(1px, 1px, 25px, rgba($black, 0.5));
  height: 100px;
  position: relative;
  width: 100px;
  z-index: 3;
  svg {
    fill: var(--global--color-white);
    height: 44px;
  }
}
.become-instructor {
  .svg-with-roundbox {
    svg {
      height: 37px;
    }
  }
}
.sec-title {
  padding-bottom: 15px;
  .price {
    color: var(--global--color-primary);
    @include fontSize(46px);
    font-weight: $fw-600;
    line-height: 1;
  }
  .short-cnt {
    @include fontSize(16px);
    p,
    li {
      font-size: inherit;
    }
  }
}
.fit_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  img {
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
  }
}
